.mainIndex {
  height: 600px;
  /* background-image: url("../image/banner.jpg"); */
  background-color: gray;
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  background-size: cover;
}
.indexh1 {
  margin: 250px auto 0px;
  text-align: center;
  color: #eee;
  font-size: 36px;
}
